<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="SPOT Software srl">
    <meta name="keywords" content="spot, spot software, software development, android development, iOS development, web development, agile development, google glass explorer, google glass development, api sdk integration, wearable devices development, sviluppo software, realizzazione applicazioni desktop, sviluppo mobile, sviluppo iOS, sviluppo Android, integrazione sistemi, realizzazione applicazioni web, realizzazione siti web">

    <title>Spot Software srl - Components and Solutions</title>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">

    <link href="styles/vendor/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="scripts/vendor/jquery/jquery-bxslider.js"></script>
    <script src="scripts/vendor/jquery/jquery-fixedonlater.js"></script>
    <script src="scripts/vendor/jquery/jquery-onepagenav.js"></script>
    <script src="scripts/vendor/jquery/jquery-waipoints.js"></script>
    <script src="scripts/vendor/jquery/jquery-easing.min.js"></script>
    <script src="scripts/vendor/modernizr.custom.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/bootstrap/collapse.js"></script>
    <script src="scripts/index.js"></script>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="main-menu" class="nav navbar-nav navbar-center">
                    <li>
                        <a href="#who">Chi siamo</a>
                    </li>
                    <li>
                        <a href="#what">Cosa facciamo</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contacts">Contatti</a>
                    </li>
                    <li>
                        <a href="#customers">Clienti</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <header style="background-image: url('images/bg-header.jpg')">
        <div class="welcome-content">
            <img class="img-responsive img-centered logo" src="images/logo.png" alt="Spot Software srl - Components and Solutions">
            <div class="brand-motto">WE MAKE SOFTWARE</div>
            <hr>
            <div class="skills-wrapper">
                <ul class="skills">
                    <li>
                        <h1>Sviluppo mobile</h1>
                    </li>
                    <li>
                        <h1>Sviluppo web</h1>
                    </li>
                    <li>
                        <h1>Sviluppo desktop</h1>
                    </li>
                    <li>
                        <h1>User Experience design</h1>
                    </li>
                    <li>
                        <h1>User Interface design</h1>
                    </li>
                </ul>
            </div>
        </div>
        <div class="scroll-down">
            <a class="btn" href="#who">
                <i class="fa fa-angle-down fa-fw"></i>
            </a>
        </div>
    </header>
    <!-- WHO WE ARE -->
    <div id="who" class="section">
        <div class="container">
            <div class="section-title">
                <h2 class="title">CHI SIAMO</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 animatez" data-effect="fadeInLeft">
                    <div class="who-content on-right">
                        <i class="fa fa-fax fa-2x"></i>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 animatez delay one" data-effect="fadeInRight">
                    <div class="who-content on-left">
                        <i class="fa fa-bolt fa-2x"></i>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 animatez" data-effect="fadeInLeft">
                    <div class="who-content on-right">
                        <i class="fa fa-bomb fa-2x"></i>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 animatez delay one" data-effect="fadeInRight">
                    <div class="who-content on-left">
                        <i class="fa fa-comments fa-2x"></i>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                    </div>
                </div>
            </div>

            <div class="row animatez" data-effect="fadeInUp">
                <div class="col-xs-12">
                    <p class="description">Siamo soddisfatti quando... Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid parallax-wrapper">
            <div class="parallax agile">
                <h2>Siamo un team agile...</h2>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member">
                    <img class="img-responsive" src="images/member.jpg" alt="member" />
                    <h4 class="name">Nome a caso</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid parallax-wrapper">
            <div class="parallax agile">
                <h2>Siamo sempre pronti a lavarci le mani...</h2>
            </div>
        </div>
    </div>
    <!-- END WHO WE ARE -->
    <!-- WHAT WE DO -->
    <div id="what" class="section">
        <div class="container">
            <div class="row animatez" data-effect="fadeInDown">
                <div class="col-xs-12">
                    <h2>We Make Software</h2>
                    <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
                </div>
            </div>
            <div class="row animatez" data-effect="fadeInUp">
                <div class="col-xs-12">
                    <h2>Skills</h2>
                    <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
                    <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END WHAT WE DO -->
    <!-- PORTFOLIO -->
    <div id="portfolio" class="section">
        <div class="container-fluid">
            <ul id="og-grid" class="og-grid">
                <li>
                    <a class="noclick" href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a class="noclick" href="http://google.com" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a class="noclick" href="http://google.com" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a class="noclick" href="http://google.com" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a class="noclick" href="http://google.com" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a class="noclick" href="http://google.com" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a class="noclick" href="http://google.com" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
                <li>
                    <a class="noclick" href="http://google.com" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="images/thumbs/1.jpg" alt="img01" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PORTFOLIO -->
    <!-- CONTACTS -->
    <div id="contacts" class="section">
        <!-- MAP -->
        <div class="map">
            <div class="img">

            </div>
        </div>
        <!-- END MAP -->
        <div class="container">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel-body-area">
                            <h4>INDIRIZZO</h4>
                            <p>Via dell'Arrigoni, 260</p>
                            <p>47522 Cesena FC</p>
                        </div>
                        <div class="panel-body-area">
                            <h4>RECAPITI</h4>
                            <p>P: +39 0547 3471112</p>
                            <p>F: +39 0547 1950284</p>
                            <p>E: info@spot.it</p>
                        </div>
                        <div class="panel-body-area">
                            <h4>Coordinate GPS</h4>
                            <p>N: 44° 09.879</p>
                            <p>E: 12° 13.120</p>
                        </div>
                        <div class="panel-body-area">
                            <p>2014 SPOT Software &reg;</p>
                            <p>Codice fiscale, Partita IVA e numero d'iscrizione al Registro delle Imprese di Forlì-Cesena 02710960408</p>
                            <p>Capitale sociale euro 15.600,00 interamente versato</p>
                            <p>&copy; Tutti i diritti riservati</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTACTS -->
    <!-- CUSTOMERS -->
    <div id="customers" class="section">
        <div class="container">
            <div class="col-xs-6 col-sm-4">
                <h3>Technogym</h3>
                <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h3>Technogym</h3>
                <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h3>Technogym</h3>
                <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h3>Technogym</h3>
                <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h3>Technogym</h3>
                <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h3>Technogym</h3>
                <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
            </div>
        </div>
    </div>
    <!-- END CUSTOMERS -->
</body>


<script src="scripts/vendor/og-grid.js"></script>

</html>