<div id="contacts" class="section">
    <!-- MAP -->
    <div class="map">
        <div class="img">

        </div>
    </div>
    <!-- END MAP -->
    <div class="container">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="panel-body-area">
                        <h4>INDIRIZZO</h4>
                        <p>Via dell'Arrigoni, 260</p>
                        <p>47522 Cesena FC</p>
                    </div>
                    <div class="panel-body-area">
                        <h4>RECAPITI</h4>
                        <p>P: +39 0547 3471112</p>
                        <p>F: +39 0547 1950284</p>
                        <p>E: info@spot.it</p>
                    </div>
                    <div class="panel-body-area">
                        <h4>Coordinate GPS</h4>
                        <p>N: 44° 09.879</p>
                        <p>E: 12° 13.120</p>
                    </div>
                    <div class="panel-body-area">
                        <p>2014 SPOT Software &reg;</p>
                        <p>Codice fiscale, Partita IVA e numero d'iscrizione al Registro delle Imprese di Forlì-Cesena 02710960408</p>
                        <p>Capitale sociale euro 15.600,00 interamente versato</p>
                        <p>&copy; Tutti i diritti riservati</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>