<div id="customers" class="section">
    <div class="container">
        <div class="col-xs-6 col-sm-4">
            <h3>Technogym</h3>
            <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h3>Technogym</h3>
            <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h3>Technogym</h3>
            <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h3>Technogym</h3>
            <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h3>Technogym</h3>
            <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h3>Technogym</h3>
            <p>Azienda leader nel settore del wellness e bla bla bla, devo occupare spazio..</p>
        </div>
    </div>
</div>