<header style="background-image: url('images/bg-header.jpg')">
    <div class="welcome-content">
        <img class="img-responsive img-centered logo" src="images/logo.png" alt="Spot Software srl - Components and Solutions">
        <div class="brand-motto">WE MAKE SOFTWARE</div>
        <hr>
        <div class="skills-wrapper">
            <ul class="skills">
                <li>
                    <h1>Sviluppo mobile</h1>
                </li>
                <li>
                    <h1>Sviluppo web</h1>
                </li>
                <li>
                    <h1>Sviluppo desktop</h1>
                </li>
                <li>
                    <h1>User Experience design</h1>
                </li>
                <li>
                    <h1>User Interface design</h1>
                </li>
            </ul>
        </div>
    </div>
    <div class="scroll-down">
        <a class="btn" href="#who">
            <i class="fa fa-angle-down fa-fw"></i>
        </a>
    </div>
</header>