.parallax-wrapper {
    padding: 0;
    margin: 0;
    .parallax {
        padding: 150px 0;
        text-align: center;
        color: #fff;
        background: no-repeat center center scroll;
        background-color: #222;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
        &.agile {
            background-image: url('../images/bg-agile.jpg');
        }
    }
}
@media (min-width: 992px) {
    .parallax-wrapper .parallax {
        padding: 300px 0;
    }
}