html,
body {
    height: 100%;
}
.img-centered {
    margin: 0 auto;
}

@import 'vendor/bootstrap.scss';
@import 'shared/navbar.scss';
@import 'shared/header.scss';

$padding-xs:5px;
$padding-sm:10px;
$padding-md:20px;
$padding-lg:50px;
$padding-xlg:70px;

.section {
    padding: 50px 0;
    position: relative;
    .description {
        padding-top: 30px;
    }
}
#contacts {
    .panel {
        background-color: white;
        margin-top: 50px;
        .panel-body-area {
            margin-bottom: 20px;
        }
    }
    .map {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .4;
        filter: alpha(opacity=40);
        overflow: hidden;
        background-image: url(assets/images/map.png);
        .img {
            height: 100%;
            width: 100%;
            background-image: url("../images/map.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}
.who-content {
    padding-top: $padding-sm;
    text-align: center;
    p {
        padding-top: 10px;
    }
}
@media (min-width: 768px) {
    .who-content {
        position: relative;
        i {
            padding: 0 $padding-sm;
            position: absolute;
            top: 30px;
        }
        &.on-right {
            text-align: right;
            i {
                right: 0;
            }
            p {
                padding-right: $padding-xlg;
            }
        }
        &.on-left {
            text-align: left;
            i {
                left: 0;
            }
            p {
                padding-left: $padding-xlg;
            }
        }
    }
}