@import 'vendor/bootstrap.scss';
@import 'vendor/og-grid.scss';
@import 'common/animations.scss';
@import 'common/parallax.scss';
@import 'shared/navbar.scss';
@import 'shared/header.scss';
 $font-family-sans-serif:"OpenSans",Helvetica,Arial,sans-serif !default;
 html,
body {
    height: 100%;
}
.img-centered {
    margin: 0 auto;
}
.animatez {
    opacity: 0;
    -o-opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: Alpha(opacity=0);
    /* IE8 and earlier */
}
.delay.one {
    animation-delay: 0.15s;
    -o-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
}
.delay.two {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.delay.three {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
}
.delay.four {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.delay.five {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
}
$padding-xs:5px;
 $padding-sm:10px;
 $padding-md:20px;
 $padding-xmd:30px;
 $padding-lg:50px;
 $padding-xlg:70px;
 .section {
    padding: 50px 0;
    position: relative;
    .section-title {
        text-align: center;
        position: relative;
        z-index: 2;
        .title {
            margin: 0;
            padding: $padding-xmd;
        }
    }
    .description {
        padding-top: $padding-xmd;
        padding-bottom: $padding-xmd;
    }
}
#contacts {
    .panel {
        background-color: white;
        margin-top: 50px;
        .panel-body-area {
            margin-bottom: 20px;
        }
    }
    .map {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .4;
        filter: alpha(opacity=40);
        overflow: hidden;
        background-image: url(images/map.png);
        .img {
            height: 100%;
            width: 100%;
            background-image: url("../images/map.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}
.who-content {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    text-align: center;
    p {
        padding-top: 10px;
    }
}
.member {
    position: relative;
    padding: 15px;
    .name {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        margin: auto;
        padding: 15px;
        text-align: center;
        color: rgba(255, 255, 255, .7);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    &:hover {
        .name {
            display: inline;
        }
    }
}
@media (min-width: 768px) {
    .who-content {
        position: relative;
        i {
            padding: 0 $padding-sm;
            position: absolute;
            top: 30px;
        }
        &.on-right {
            text-align: right;
            i {
                right: 0;
            }
            p {
                padding-right: $padding-xlg;
            }
        }
        &.on-left {
            text-align: left;
            i {
                left: 0;
            }
            p {
                padding-left: $padding-xlg;
            }
        }
    }
}